html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

@font-face {
  font-family: "Tajawal";
  src: url(../fonts/Tajawal/Tajawal-Regular.ttf) format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Tajawal";
  src: url(../fonts/Tajawal/Tajawal-Medium.ttf) format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Tajawal";
  src: url(../fonts/Tajawal/Tajawal-Bold.ttf) format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "PermanentMarker";
  src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf) format("truetype"); }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Tajawal"; }

h1,
.h1 {
  font-family: "PermanentMarker";
  font-size: 5rem;
  margin-bottom: 5rem; }

h2,
.h2 {
  font-family: "PermanentMarker";
  font-size: 4rem;
  margin-bottom: 3rem; }

b {
  font-weight: 700; }

body {
  overflow-x: hidden; }

.shape--primary {
  fill: #106d74; }

.bg--2 {
  position: relative; }
  .bg--2:before {
    content: '';
    position: absolute;
    height: 120%;
    width: 120%;
    top: -10%;
    left: -10%;
    z-index: -1;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%23fdd343' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") center no-repeat;
    background-size: cover; }

.post-card {
  background-color: #ececec;
  border-radius: 1rem;
  position: relative;
  font-size: 1.8rem; }
  .post-card__img {
    max-height: 250px;
    overflow: hidden; }
    .post-card__img img {
      width: 100%; }
  .post-card__body {
    padding: 1.5rem;
    flex: 1; }
  .post-card__title {
    color: #106d74;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .post-card__description {
    word-break: break-word; }
  .post-card__info {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem; }
    .post-card__info .post-card__avatar {
      margin-right: 1rem;
      height: 5rem; }
    .post-card__info .like-icon {
      color: #e55658;
      margin: 1rem;
      margin-left: 0; }
    .post-card__info .comment-icon {
      color: #106d74;
      margin: 1rem; }
  .post-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: rgba(51, 49, 44, 0.5);
    opacity: 0;
    transition: 0.5s;
    pointer-events: none; }
    .post-card__overlay .button:not(:last-of-type) {
      margin-right: 1rem; }
  .post-card:hover .post-card__overlay {
    opacity: 1;
    pointer-events: all; }
  .post-card--bg::before {
    content: '';
    position: absolute;
    width: 130%;
    height: 130%;
    top: -15%;
    left: -15%;
    z-index: -1;
    background-size: contain !important; }
  .post-card--bg--primary::before {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%23106d74' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") center no-repeat; }
  .post-card--bg--1::before {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%23e55658' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") center no-repeat; }
  .post-card--bg--2::before {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%23fdd343' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") center no-repeat; }
  .post-card--bg--3::before {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%2353bcc0' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") center no-repeat; }
  .post-card--bg--4::before {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%23fbfbfa' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") center no-repeat; }
  .post-card--md {
    display: flex; }
    .post-card--md .post-card__overlay {
      border-radius: 1rem 0 0 1rem; }
  .post-card--lg .post-card__post {
    display: flex; }
  .post-card--lg .post-card__img {
    max-height: none;
    width: 50%; }
  .post-card--lg .post-card__title {
    font-size: 4rem; }
  .post-card--lg .post-card__description {
    font-size: 2rem; }
  .post-card__post {
    position: relative;
    background-color: #fbfbfa; }

.input {
  border: 0;
  width: 100%;
  font-family: "Tajawal"; }
  .input--border-radius-md {
    border-radius: 0.7rem; }
  .input--border-radius-xl {
    border-radius: 2rem; }
  .input--text-color-primary {
    color: #106d74; }
  .input--text-color-secondary {
    color: white; }
  .input--text-color-info {
    color: #53bcc0; }
  .input--border-primary {
    border: 1px solid #106d74; }
  .input--border-secondary {
    border: 1px solid white; }
  .input--border-dark {
    border: 1px solid #707070; }
  .input--border-info {
    border: 1px solid #53bcc0; }
  .input--padding-sm {
    padding: 1.5rem; }
  .input--padding-xs {
    padding: 1rem; }
  .input--bg-primary {
    background-color: #106d74; }
  .input--bg-secondary {
    background-color: #fbfbfa; }
  .input--bg-info {
    background-color: #edf8f9; }
  .input:focus {
    outline: 0;
    border-color: #53bcc0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px; }

.btn {
  text-decoration: none;
  border: none;
  position: relative;
  font-size: 1.8rem;
  padding: 1.5rem 1.6rem;
  margin: 1.5rem;
  opacity: 1;
  box-sizing: content-box;
  display: inline-block; }
  .btn--xs {
    font-size: 1.4rem;
    padding: 1rem;
    margin: 1rem; }
  .btn--circle {
    border: 3px solid #fdd343;
    border-radius: 50%;
    color: #e55658; }
    .btn--circle:hover {
      background-color: transparent;
      transition: 0.8s; }
    .btn--circle:hover::before {
      cursor: pointer;
      transition: 0.8s;
      height: 100%; }
    .btn--circle::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0;
      background: #fdd343;
      z-index: -1;
      transition: 0.8s;
      border-radius: 50%;
      bottom: 0; }
  .btn--rect {
    border-radius: 0.7rem; }
    .btn--rect:hover {
      background-color: transparent;
      transition: 0.8s; }
    .btn--rect:hover::before {
      cursor: pointer;
      transition: 0.8s;
      height: 100%; }
    .btn--rect::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0;
      background: #fdd343;
      z-index: -1;
      transition: 0.8s;
      border-radius: 50% 50% 0.7rem 0.7rem;
      bottom: 0; }
  .btn--primary {
    background-color: #106d74;
    color: #fbfbfa; }
  .btn--light {
    background-color: #ececec;
    color: #e55658; }
  .btn--1 {
    background-color: #e55658;
    color: #fbfbfa; }
  .btn--2 {
    background-color: #fdd343;
    color: #e55658; }
  .btn--4 {
    background-color: #fbfbfa;
    color: #106d74; }

.comment {
  display: flex;
  align-items: flex-start; }
  .comment__user {
    background-color: #fbfbfa;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    margin-right: 1.5rem;
    padding: 1rem; }
    .comment__user img {
      width: 6rem;
      height: 6rem; }
  .comment__text {
    background-color: #fbfbfa;
    border-radius: 1rem;
    border-top-left-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    padding: 1rem;
    font-size: 2rem;
    min-height: 8rem; }

.comments {
  padding: 1.5rem; }
  .comments .comment {
    margin-bottom: 1.5rem; }

.profile-card {
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  color: #33312c;
  padding: 3rem 0 3rem 3rem;
  background-color: #fbfbfa;
  position: relative; }
  .profile-card--display-flex {
    display: flex;
    flex-wrap: wrap; }
  .profile-card__title {
    color: #106d74;
    font-family: "PermanentMarker";
    font-size: 2rem;
    margin: 1rem 1.5rem 1rem 0; }
  .profile-card__text-primary {
    font-size: 1.8rem; }
    .profile-card__text-primary--1 {
      margin: 1.5rem 0 0 3rem; }
    .profile-card__text-primary--2 {
      margin: 1.5rem 0 0 1.5rem; }
  .profile-card__text-secondary {
    font-family: "PermanentMarker";
    font-size: 1.4rem; }
  .profile-card__icon-lg {
    font-size: 4rem;
    color: #106d74;
    margin: 1.5rem 0 1rem 0; }
  .profile-card__icon-sm {
    margin: 0 1rem 0 0; }
  .profile-card__part-lg {
    width: 70%; }
    .profile-card__part-lg--after::after {
      content: '';
      position: absolute;
      width: 0.3rem;
      height: 100%;
      top: 0;
      left: 72%;
      z-index: 1;
      background-size: contain !important;
      background-color: #fdd343; }
  .profile-card__part-sm {
    width: 30%;
    text-align: center;
    margin-bottom: 3rem; }
  .profile-card__edit {
    position: absolute;
    right: 2rem;
    bottom: -3.5rem;
    color: #106d74; }

.profile-pic section {
  position: absolute;
  top: 75%;
  left: 80%; }

.profile-pic img {
  position: absolute;
  width: 8em;
  height: 8em; }

.profile-pic div {
  background-color: #e55658;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  position: relative;
  box-shadow: 2px 3px 8px #5d5d5d; }

.profile-pic_inner {
  background-color: #fbfbfa;
  border: 4px solid #fdd343;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  position: relative; }
  .profile-pic_inner img {
    position: absolute;
    width: 1em;
    height: 1em; }

.number-card {
  text-align: center;
  font-size: 2rem;
  font-weight: 700; }
  .number-card img {
    max-width: 10rem; }
  .number-card__title {
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    word-spacing: 30rem; }
  .number-card__number {
    font-size: 3rem;
    color: #106d74; }

.filter-item {
  color: #106d74;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  position: relative; }
  .filter-item--selected {
    color: #e55658; }
  .filter-item--before::before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: -12%;
    left: -3%;
    z-index: -1;
    background-size: 1.8rem 1.8rem, 2.7rem 2.7rem !important;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%23e55658' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") right center no-repeat, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%23fdd343' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") left top no-repeat; }

.filter {
  padding: 1.5rem; }
  .filter .filter-item {
    margin: 1.5rem; }

.page {
  color: #fdd343;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%2353bcc0' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") center no-repeat;
  margin: 1rem;
  font-size: 2rem;
  min-width: 5rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain !important;
  font-weight: 700;
  cursor: pointer; }
  .page.active {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='399.774' height='386.666' viewBox='0 0 399.774 386.666'> <path fill='%23e55658' d='M1232.443,7777.276c-1.4-80.9,172.7-213.173,241.495-211.888s32.158,67.342,57.177,120.314,101.479-8.591,100.075,81.3-118.992,160.2-200.778,181.069-99.687-71.914-126.364-97.6S1233.847,7858.18,1232.443,7777.276Z' transform='translate(-1231.934 -7564.879)' /></svg>") center no-repeat; }

.pagination {
  display: flex;
  align-items: center;
  margin: 1.5rem auto;
  width: fit-content; }

.arrow {
  background: -webkit-linear-gradient(#e55658, #fdd343);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  cursor: pointer; }

.dropdown {
  position: relative; }
  .dropdown__image {
    margin-left: 72.5%; }
  .dropdown__menu {
    visibility: hidden;
    position: absolute;
    transform: translate(-75%, 0); }
  .dropdown__arrowup {
    width: 0;
    height: 0;
    margin-left: 80%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #106d74; }
  .dropdown__list {
    background-color: #106d74;
    border-radius: 0.7rem;
    min-width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px; }
  .dropdown__item {
    padding: 1rem; }
    .dropdown__item > a {
      font-size: 1.8rem;
      color: #fbfbfa; }
    .dropdown__item:hover {
      cursor: pointer;
      border-radius: 0.7rem;
      background-color: #53bcc0;
      transition: 0.8s; }
  .dropdown--active .dropdown__menu {
    visibility: visible;
    transition: all 0.8s ease-in-out; }

.category-card {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfa;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  justify-content: center;
  align-items: center;
  position: relative; }
  .category-card--title {
    margin-top: 1rem; }
  .category-card:hover {
    background-color: transparent;
    transition: 0.8s; }
  .category-card:hover::before {
    cursor: pointer;
    transition: 0.8s;
    height: 100%; }
  .category-card::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #fdd343;
    z-index: -1;
    transition: 0.8s;
    border-radius: 30% 30% 0.7rem 0.7rem;
    bottom: 0; }
  .category-card--primary {
    background-color: #106d74;
    color: #fbfbfa; }
  .category-card--xs {
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem; }
    .category-card--xs img {
      max-width: 3rem; }
  .category-card--sm {
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.7rem; }
  .category-card--md {
    padding: 3rem;
    margin: 3rem;
    border-radius: 0.7rem; }
  .category-card--lg {
    padding: 5rem;
    margin: 5rem;
    border-radius: 1rem; }
  .category-card:first-of-type {
    margin-left: 0; }

.badge {
  margin: 0.5rem;
  font-size: 3rem;
  color: #106d74; }
  .badge--1 {
    color: #e55658; }
  .badge--2 {
    color: #fdd343; }

.btn.loading::after {
  display: inline-block; }

.btn::after {
  content: '';
  display: none;
  color: #fbfbfa;
  font-size: 0.3rem;
  margin: 1rem 2rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0); }

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

.nav {
  display: flex;
  padding: 1.5rem;
  color: #53bcc0;
  font-family: "Tajawal";
  font-weight: 700;
  align-items: center;
  justify-content: space-around; }
  .nav h1 {
    margin-bottom: 0;
    font-size: 4rem; }
  .nav__img {
    max-height: 3.5rem;
    max-width: 3.5rem;
    display: flex;
    justify-content: center; }

.nav-ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .nav-ul > li {
    padding: 3rem; }
  .nav-ul a:hover {
    color: #fdd343; }

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 5rem 0;
  box-sizing: border-box; }
  .footer__inner {
    display: block;
    margin: 0 auto;
    width: 1100;
    height: 100%; }
  .footer__signature {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
    padding-left: 5rem; }
  .footer__Logo {
    font-family: "PermanentMarker";
    font-size: 4rem;
    color: #e55658;
    padding-bottom: 1.5rem; }
  .footer__license {
    font-family: "Tajawal"; }
  .footer__third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%; }
    .footer__third:last-child() {
      margin-right: 0; }
    .footer__third > a {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 5px; }
  .footer--light {
    background-color: #ececec;
    color: #106d74; }
  .footer--primary {
    background-color: #106d74;
    color: #ececec; }

@media (max-width: 600px) {
  .footer__inner {
    width: 90%; }
  .footer__signature {
    width: 100%;
    margin-bottom: 30px; }
  .footer__third {
    width: 100%;
    margin-bottom: 30px; } }

.container {
  width: 85%;
  max-width: 1640px;
  margin: 0 auto; }

.form {
  padding: 1rem; }
  .form label {
    margin-bottom: 1rem;
    display: block; }
  .form .input {
    margin-bottom: 1rem; }
  .form .error-message {
    margin-bottom: 1.5rem;
    display: block; }
  .form__title {
    font-family: "PermanentMarker";
    font-size: 2rem;
    color: #fdd343;
    margin-bottom: 1.5rem; }
  .form__subtitle {
    font-family: "PermanentMarker";
    font-size: 1.8rem;
    color: #53bcc0; }
  .form__input-1 {
    margin-bottom: 3rem;
    margin-top: 1.5rem; }
  .form__input-2 {
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .form__btn {
    margin-left: 90%; }
  .form__window-body--bg-info {
    background-color: #53bcc0 !important;
    padding: 5rem; }
    .form__window-body--bg-info .form-container {
      width: 50%;
      margin: auto; }

.form-container {
  border-radius: 0.7rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  background-color: #fbfbfa; }

.d-flex {
  display: flex; }

.w-50 {
  width: 50%; }

.w-70 {
  width: 70%; }

.justify-content-between {
  justify-content: space-between; }

.h-100-vh {
  min-height: 100vh; }

.align-items-center {
  align-items: center; }

.p-xl {
  padding: 10rem; }

.my-xl {
  margin-top: 10rem;
  margin-bottom: 10rem; }

.my-lg {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.my-md {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.my-sm {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.store {
  display: flex;
  justify-content: space-between; }
  .store h2 {
    color: #e55658;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10rem; }
  .store input {
    align-items: center;
    width: 15%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 3rem; }

.pagination {
  padding: 2%;
  margin: auto; }

.App {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  font-family: "PermanentMarker";
  font-size: 5rem;
  border-radius: 1rem;
  background-color: #e55658;
  color: #fdd343;
  margin: 50px auto;
  width: 370px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }
