//colors
$primary-color: #106d74;
$dark-color: #33312c;
$light-color: #ececec;

$color-1: #e55658;
$color-2: #fdd343;
$color-3: #53bcc0;
$color-4: #fbfbfa;

$primary-font: 'Tajawal';
$secondary-font: 'PermanentMarker';

$spacing-xs: 1rem;
$spacing-sm: 2rem;
$spacing-md: 3rem;
$spacing-lg: 5rem;
$spacing-xl: 10rem;

$font-size-xs: 1.4rem;
$font-size-sm: 1.8rem;
$font-size-md: 2rem;
$font-size-lg: 4rem;
$font-size-xl: 5rem;

$border-radius-sm: 0.5rem;
$border-radius-md: 0.7rem;
$border-radius-lg: 1rem;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
