//colors
$primary-color: #106d74;
$dark-color: #33312c;
$light-color: #ececec;

$color-1: #e55658;
$color-2: #fdd343;
$color-3: #53bcc0;
$color-4: #fbfbfa;

$primary-font: 'Tajawal';
$secondary-font: 'PermanentMarker';
