.shape--primary {
	fill: $primary-color;
}

.bg--2 {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		height: 150%;
		width: 150%;
		top: -30%;
		left: -23%;
		z-index: -1;
		background: url("#{bg-shape($color-2)}") center no-repeat;
		background-size: contain;
	}
}
