.heroheader {
  &__gradient {
    background-image: linear-gradient($color-2, $color-1 70%);
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: fixed;
    top: 0;
  }

  &__content {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    &__socialMedia {
      display: flex;
      flex-direction: column;
      color: $primary-color;
      &__icon {
        padding: 1rem;
      }
    }
    &__title {
      padding: $spacing-md;
      line-height: 1.5;
    }
    &__slogan {
      color: $primary-color;
    }
    &__callToAction {
      color: $color-4;
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
    }
    &__images {
      margin-top: 8rem;
      &__image {
        width: 35vw;
      }
    }
  }
}

.home-section2 {
  position: absolute;
  top: 47%;
  z-index: -100;
  overflow: hidden;
}

.home-section3 {
  &__content {
    padding-bottom: 25rem;
    text-align: center;
    &__title {
      color: $primary-color;
      &--dark {
        color: $dark-color;
      }
    }
    &__infograph {
    }
  }
}
