.category-card {
	display: flex;
	flex-direction: column;
	background-color: $color-4;
	box-shadow: $box-shadow;
	justify-content: center;
	align-items: center;
	position: relative;
	&--title {
		margin-top: $spacing-xs;
	}

	&:hover {
		background-color: transparent;
		transition: 0.8s;
	}
	&:hover::before {
		cursor: pointer;
		transition: 0.8s;
		height: 100%;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 0;
		background: $color-2;
		z-index: -1;
		transition: 0.8s;
		border-radius: 30% 30% $border-radius-md $border-radius-md;
		bottom: 0;
	}

	&--primary {
		background-color: $primary-color;
		color: $color-4;
	}
	&--xs {
		padding: $spacing-xs;
		margin: $spacing-xs;
		border-radius: $border-radius-sm;
		img {
			max-width: 3rem;
		}
	}
	&--sm {
		padding: $spacing-sm;
		margin: $spacing-sm;
		border-radius: $border-radius-md;
	}
	&--md {
		padding: $spacing-md;
		margin: $spacing-md;
		border-radius: $border-radius-md;
	}
	&--lg {
		padding: $spacing-sm;
		margin: $spacing-sm;
		border-radius: $border-radius-lg;
	}
	&:first-of-type {
		margin-left: 0;
	}
}
