.dropdown {
	position: relative;
	z-index: 10;
	&__image {
		margin-left: 72.5%;
	}
	&__menu {
		visibility: hidden;
		position: absolute;
		transform: translate(-75%, 0);
	}
	&__arrowup {
		width: 0;
		height: 0;
		margin-left: 80%;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid $primary-color;
	}
	&__list {
		background-color: $primary-color;
		border-radius: $border-radius-md;
		min-width: 18rem;
		box-shadow: $box-shadow;
	}
	&__item {
		padding: $spacing-sm;
		& > a {
			font-size: $font-size-sm;
			color: $color-4;
		}
		&:hover {
			cursor: pointer;
			border-radius: $border-radius-md;
			background-color: $color-3;
			transition: 0.8s;
			& > a {
				color: $color-2;
			}
		}
	}
	&--active {
		.dropdown__menu {
			visibility: visible;
			transition: all 0.8s ease-in-out;
		}
	}
}
