.post-card {
	background-color: $light-color;
	border-radius: $border-radius-lg;
	position: relative;
	font-size: $font-size-sm;
	&__img {
		height: 250px;
		text-align: center;
		overflow: hidden;
		border-radius: $border-radius-lg $border-radius-lg 0 0;
		img {
			height: 100%;
		}
	}
	&__body {
		padding: $spacing-sm;
		flex: 1;
	}
	&__title {
		color: $primary-color;
		font-size: $font-size-md;
		margin-bottom: $spacing-xs;
		font-weight: $font-weight-bold;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}
	&__description {
		word-break: break-word;
		& > * {
			display: none;
		}
		p:first-of-type,
		p:nth-child(2) {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
		&__full {
			max-height: none;
			p:first-of-type,
			p:nth-child(2) {
				-webkit-line-clamp: unset;
			}
			& > * {
				display: block;
			}
		}
	}
	&__info {
		display: flex;
		align-items: flex-start;
		margin-top: $spacing-xs;
		.post-card__avatar {
			margin-right: $spacing-xs;
			height: $spacing-lg;
		}
		.like-icon {
			color: $color-1;
			margin: $spacing-xs;
			margin-left: 0;
		}
		.comment-icon {
			color: $primary-color;
			margin: $spacing-xs;
		}
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: $border-radius-lg;
		background-color: rgba($dark-color, 0.5);
		opacity: 0;
		transition: 0.5s;
		pointer-events: none;
		.button:not(:last-of-type) {
			margin-right: $spacing-xs;
		}
	}
	&:hover {
		.post-card__overlay {
			opacity: 1;
			pointer-events: all;
		}
	}

	&--bg {
		&::before {
			content: "";
			position: absolute;
			width: 130%;
			height: 130%;
			top: -15%;
			left: -15%;
			z-index: -1;
			background-size: contain !important;
		}
		&--primary {
			&::before {
				background: url("#{bg-shape($primary-color)}") center no-repeat;
			}
		}
		&--1 {
			&::before {
				background: url("#{bg-shape($color-1)}") center no-repeat;
			}
		}
		&--2 {
			&::before {
				background: url("#{bg-shape($color-2)}") center no-repeat;
			}
		}
		&--3 {
			&::before {
				background: url("#{bg-shape($color-3)}") center no-repeat;
			}
		}
		&--4 {
			&::before {
				background: url("#{bg-shape($color-4)}") center no-repeat;
			}
		}
	}

	&--md {
		display: flex;
		.post-card__overlay {
			border-radius: $border-radius-lg 0 0 $border-radius-lg;
		}
		.post-card__img {
			border-radius: $border-radius-lg 0 0 $border-radius-lg;
		}
		.post-card__title {
			-webkit-line-clamp: unset;
		}
	}

	&--lg {
		.post-card__post {
			display: flex;
		}
		.post-card__img {
			height: auto;
			width: 50%;
			img {
				width: 100%;
			}
		}
		.post-card__title {
			font-size: $font-size-lg;
			-webkit-line-clamp: unset;
		}
		.post-card__description {
			font-size: $font-size-md;
		}
	}

	&__post {
		position: relative;
		background-color: $color-4;
	}
}
