nav {
  //   background-color: $color-2;
  display: flex;
  padding: $spacing-sm;
  color: $color-3;
  font-family: $primary-font;
  font-weight: $font-weight-bold;
  align-items: center;
  justify-content: space-around;
  h1 {
    padding-top: $spacing-md;
    font-size: $font-size-lg;
  }
}

.nav-ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    padding: $spacing-md;
  }
  a:hover {
    color: $color-2;
  }
}
