.slide {
  min-height: 100vh;
  box-sizing: border-box;
  // overflow: hidden;
}

.slide1 {
  margin-top: -12.5rem;
  min-height: 200vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $color-3;
  background-image: url(../imgs/upper-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -10rem left;
}

.slide2 {
  min-height: 200vh;
  box-sizing: border-box;
  overflow: hidden;
  background: url(../imgs/white-background.svg) bottom no-repeat;
  background-size: cover;
}

.category-section {
  background-color: $color-2;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.05rem;
  border-radius: $border-radius-lg;
}
